.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
npm-debug.log
coverage
playwright-report
test-results
yutah
yutah.pub
